<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @list.photob.key, height: 300, crop: :fill %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container pb-4 pt-3">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-sm-6 col-lg-8">
      <div class="container">
        <div class="row d-flex flex-wrap">
          <% @bookmarks.each do |bookmark| %>
            <% movie = Movie.where('id = ?', bookmark.movie_id).first %>
            <% bookmark_id = bookmark.id %>
            <div class="col-12 col-sm-6 col-lg-4 mx-2">
              <div class="card-trip my-3">
                <%= image_tag "#{movie.poster_url}" %>
                <div class="card-trip-infos">
                  <div>
                    <h2 class="pb-1"><%= movie.title %> <i class="fas fa-star" style="color: gold;"></i> <%= movie.rating %></h2>
                    <p><%= movie.overview.length < 100 ? movie.overview : "#{movie.overview.first(100)}..." %></p>
                  </div>
                </div>
                <div class="card-trip-infos pb-2 align-items-center">
                  <h2 class="card-trip-pricing p-2"><i class="fas fa-quote-left"></i> &nbsp; <%= bookmark.comment %></h2>
                  <button type="button" class="my-button"data-bs-toggle="modal" data-bs-target="#i<%= bookmark_id.to_s %>">
                  Enlarge
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="i<%= bookmark_id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Movie</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="card-trip my-3" style="height: 800px">
                              <%= image_tag "#{movie.poster_url}", style: "height: 400px;" %>
                              <div class="card-trip-infos">
                                <div>
                                  <h2 class="pb-1"><%= movie.title %> <i class="fas fa-star" style="color: gold;"></i> <%= movie.rating %></h2>
                                  <p><%= movie.overview %></p>
                                </div>
                              </div>
                              <div class="card-trip-infos pb-2 align-items-center">
                                <h2 class="card-trip-pricing p-2"><i class="fas fa-quote-left"></i> &nbsp; <%= bookmark.comment %></h2>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%# MODAL %>
                  <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 me-4 mt-2">
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <div class="form-group mb-3">
          <%= f.association :movie, class: "form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= f.input :comment, class: "form-control", placeholder: "Comment here" %>
        </div>
        <%= f.submit "Submit bookmark", class: "btn btn-primary mb-3 w-100" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container review py-5 my-2 border-top">
  <div class="row d-flex justify-content-between">
    <div class="col-7">
      <h2 class="text-center">Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="card-product mb-4">
          <div class="card-product-infos ps-3">
            <div class="d-flex border-bottom">
              <% review.rating.times do %>
                <h4><i class="fas fa-star" style="color: gold;"></i></h4>
              <% end %>
            </div>
            <p class="review-text mt-3 ms-2"><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <h2 class="text-center">Submit a review</h2>
      <%= simple_form_for [ @list, @review ] do |f| %>
        <div class="form-group mb-3">
          <%= f.input :rating, class: "form-control", placeholder: "0-5" %>
        </div>
        <div class="form-group mb-3" rows="3">
          <%= f.text_area :content, class: "form-control", placeholder: "Write here" %>
        </div>
        <%= f.submit "Submit review", class: "btn btn-primary mb-3 w-100" %>
      <% end %>
    </div>
  </div>
</div>
