<% if @list.photob.key %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @list.photob.key, height: 300, crop: :fill %>');">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://wallpapercave.com/wp/wp2411501.jpg');">
<% end %>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container pb-4 pt-3">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-sm-6 col-lg-8">
      <div class="container">
        <div class="row d-flex flex-wrap">
          <% @bookmarks.each do |bookmark| %>
            <div class="col-12 col-sm-6 col-lg-4 mx-2">
              <div class="card-trip my-3">
                <% if bookmark.poster_url.length > 31 %>
                  <%= image_tag "#{bookmark.poster_url}" %>
                <% else %>
                  <img src="https://i.pinimg.com/originals/d8/6a/e5/d86ae5d9960b9d131ab64353f237fa79.jpg" style="height: 200px;"/>
                <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2 class="pb-1"><%= bookmark.title %> <i class="fas fa-star" style="color: gold;"></i> <%= bookmark.rating %></h2>
                    <p><%= bookmark.overview.length < 100 ? bookmark.overview : "#{bookmark.overview.first(100)}..." %></p>
                  </div>
                </div>
                <div class="card-trip-infos pb-2 align-items-center">
                  <h2 class="card-trip-pricing p-2"><i class="fas fa-quote-left"></i> &nbsp; <%= "#{bookmark.comment.first(23)}.." %></h2>
                  <button type="button" class="my-button"data-bs-toggle="modal" data-bs-target="#i<%= bookmark.id.to_s %>">
                  More info
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="i<%= bookmark.id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Movie</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="card-trip my-3" style="height: 800px">
                              <%= image_tag "#{bookmark.poster_url}", style: "height: 400px;" %>
                              <div class="card-trip-infos">
                                <div>
                                  <h2 class="pb-1"><%= bookmark.title %> <i class="fas fa-star" style="color: gold;"></i> <%= bookmark.rating %></h2>
                                  <p><%= bookmark.overview %></p>
                                </div>
                              </div>
                              <div class="card-trip-infos pb-2 align-items-center">
                                <h2 class="card-trip-pricing p-2"><i class="fas fa-quote-left"></i> &nbsp; <%= bookmark.comment %></h2>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%# MODAL %>
                  <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "my-button", style: "text-decoration: none;" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 me-4 mt-2">
      <h5 class="mt-2">Filter movies</h5>
      <form class="form-inline d-flex justify-content-between mt-3">
        <div class="form-group mb-2">
          <label for="text" class="sr-only">Search</label>
          <input name="filter" type="text" class="form-control" id="inputPassword2" placeholder="Filter lists">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
      <form class="form-inline d-flex">
        <button type="submit" class="btn btn-primary mb-2 w-100">Refresh</button>
      </form>
      <h5 class="pt-2">Add a movie</h5>
      <form class="form d-flex justify-content-between mt-3">
        <div class="form-group mb-2">
          <label for="text" class="sr-only">Search Movies</label>
          <input name="movie" type="text" class="form-control" id="inputPassword2" placeholder="Movie title">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
      <%= link_to "Refresh", list_path(@list), class: "btn btn-primary w-100" %>
      <% if @search_results %>
        <% @search_results.first(5).each do |movie| %>
          <div class="card-trip mt-3">
            <% if movie["poster_path"] != nil %>
              <%= image_tag "https://image.tmdb.org/t/p/w500#{movie["poster_path"]}" %>
            <% else %>
              <img src="https://i.pinimg.com/originals/d8/6a/e5/d86ae5d9960b9d131ab64353f237fa79.jpg" style="height: 200px;"/>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2 class="pb-1"><%= movie["title"] %> <i class="fas fa-star" style="color: gold;"></i> <%= movie["vote_average"] %></h2>
                <p><%= movie["overview"].length < 100 ? movie["overview"] : "#{movie["overview"].first(100)}..." %></p>
              </div>
              <button type="button" class="my-button"data-bs-toggle="modal" data-bs-target="#i<%= movie["id"].to_s %>">
                  More info
              </button>
              <!-- Modal -->
                <div class="modal fade" id="i<%= movie["id"].to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Movie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="card-trip my-3" style="height: 1000px">
                            <% if movie["poster_path"] != nil %>
                              <%= image_tag "https://image.tmdb.org/t/p/w500#{movie["poster_path"]}", style: "height: 650px;" %>
                            <% else %>
                              <img src="https://i.pinimg.com/originals/d8/6a/e5/d86ae5d9960b9d131ab64353f237fa79.jpg" style="height: 650px;"/>
                            <% end %>
                            <div class="card-trip-infos" style="display: block;">
                              <div class="d-flex flex-column">
                                <div>
                                  <h2 class="pb-1"><%= movie["title"] %> <i class="fas fa-star" style="color: gold;"></i> <%= movie["vote_average"] %></h2>
                                  <p><%= movie["overview"] %></p>
                                </div>
                                <%= simple_form_for [ @list, @bookmark ] do |f| %>
                                  <%= f.hidden_field :overview, value: movie["overview"] %>
                                  <%= f.hidden_field :title, value: movie["title"] %>
                                  <%= f.hidden_field :poster_url, value: "https://image.tmdb.org/t/p/w500#{movie["poster_path"]}" %>
                                  <%= f.hidden_field :rating, value: movie["vote_average"].to_f %>
                                  <div class="form-group mb-3">
                                    <%= f.input :comment, class: "form-control", placeholder: "Comment here" %>
                                  </div>
                                  <%= f.submit "Submit bookmark", class: "btn btn-primary mb-3 w-100" %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%# MODAL %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container review py-5 my-2 border-top">
  <div class="row d-flex justify-content-between">
    <div class="col-7">
      <h2 class="text-center">Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="card-product mb-4">
          <div class="card-product-infos ps-3">
            <div class="d-flex border-bottom">
              <% review.rating.times do %>
                <h4><i class="fas fa-star" style="color: gold;"></i></h4>
              <% end %>
            </div>
            <p class="review-text mt-3 ms-2"><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <h2 class="text-center">Submit a review</h2>
      <%= simple_form_for [ @list, @review ] do |f| %>
        <div class="form-group mb-3">
          <%= f.input :rating, class: "form-control", placeholder: "0-5" %>
        </div>
        <div class="form-group mb-3" rows="3">
          <%= f.text_area :content, class: "form-control", placeholder: "Write here" %>
        </div>
        <%= f.submit "Submit review", class: "btn btn-primary mb-3 w-100" %>
      <% end %>
    </div>
  </div>
</div>
