<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid container">
        <%= link_to lists_path, class: "navbar-brand" do %>
          <%= image_tag "https://scontent-lhr8-2.xx.fbcdn.net/v/t1.6435-9/51552770_10212999090319648_8119647948104531968_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFfZ9TW5agYrLoqkXN53AfgSYLzcK90kD9JgvNwr3SQP62VrlBDVcb_JvJJ87FEiXs&_nc_ohc=px4Kkkp3PhIAX8gg4Mp&_nc_ht=scontent-lhr8-2.xx&oh=00_AT8i13wkdJRImURUiq-yR8S6yUZbwVl3Q17sdjy9o0q0Vw&oe=6234F0C0", class: "avatar-large", alt: "avatar-large" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <%# if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "New list", new_list_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My lists", lists_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Action", "#", class: "dropdown-item" %>
                  <%= link_to "Another action", "#", class: "dropdown-item" %>
                  <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <%# else %>
              <!--li class="nav-item"-->
                <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
              <!--/li-->
            <%# end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.github.com" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon - #Batch806
      </div>
    </div>
  </body>
</html>
